<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hello!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <link rel="stylesheet" href="/style.css">

  <!-- import the webpage's javascript file -->
  <script src="/script.js" type="module" defer></script>
</head>

<body>
  <div class="sans-serif mw8 center">
    <h1 class="mh4">Ripchord</h1>
    <main class="mv3 mh4">
      <div id="chord-widget">
        <div class="flex">
          <div class="pr2">
            <label for="pick-key">Pick a key</label>
            <select id="pick-key" v-model="key">
              <option v-for="key in keys">{{ key }}</option>              
            </select>
          </div>
          <div>
            <button id="make-chords" v-on:click="generateProgression">Generate a chord progression</button>
          </div>
        </div>
        <div id="chords">
          <p v-for="progression in progressionsInKey">
            {{ progression }}
          </p>
        </div>
      </div>      
    </main>
  </div>
</body>

</html>
